.products-section {
  font-family: "Poppins", sans-serif;
  padding: 1rem 1rem;
  background-color: white;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-title {
  font-size: 3rem;
  color: #002F49;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.products-grid {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  max-width: 1120px;
  max-height: 1120px;
  height: 100%;
  width: 100%;
}

.product-card {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: none;
  text-align: center;
  padding: 5px;
  max-width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.carousel-wrapper {
  border-radius: none;  
  overflow: hidden;
}

.carousel .slide img {
  height: 392px;
  width: 100%;
  object-fit: cover;
  border-radius: none;
}

.product-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1rem;
}

.product-description {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.read-more-btn {
  margin-top: 1rem;
  color: #2563eb;
  background: none;
  width: 100%;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal-content {
  background: white;
  color: black;
  border-radius: 1rem;
  padding: 1.5rem;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal-description {
  font-size: 1rem;
}
